# FastAPI APP AppSettings
APP_TITLE='TestFileUploaderApp'
DATABASE_DSN='postgresql+asyncpg://postgres:postgres@testing_db:5432/db_test'
PROJECT_HOST='0.0.0.0'
PROJECT_PORT=8001
ECHO=False

# FastAPI APP TokenSettings
SECRET_KEY='secret_key'
ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Mountpoint Of directory, where uploaded files would be stored
MOUNTPOINT='/files_volume'

# DATABASE Settings
POSTGRES_DB='db_test'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'

# Directory, where test logs would store
LOGS_DIR ='/logs'